################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestAzureCore/obj
/TestAzureCore/bin
/.vs
/TestAzureCore/Properties
*.user
/Api/.vs/TestAzureCoreAPI
/Api/TestAzureCoreAPI/bin
/Api/TestAzureCoreAPI/obj
/Api/TestAzureCoreAPI/Properties
/MainApp/.vs
/MainApp/TestAzureCore/bin
/MainApp/TestAzureCore/obj
/MainApp/TestAzureCore/Properties/PublishProfiles
/MainApp/TestAzureCore/Properties/ServiceDependencies/cecoretest - Web Deploy
