@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I'm expanding my Azure knowledge.</p>
	
</div>

<div>
	<ul>
		<li>Github repository v1</li>
	</ul>
</div>
